In [1]:
import pandas as pd

In [4]:
df_vote = pd.read_csv('data/vote_xgb_nn.csv')

In [5]:
df_vote.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2985217 entries, 0 to 2985216
Data columns (total 7 columns):
ParcelId    int64
201610      float64
201611      float64
201612      float64
201710      float64
201711      float64
201712      float64
dtypes: float64(6), int64(1)
memory usage: 159.4 MB

In [6]:
df_vote.head()

   ParcelId  201610  201611  201612  201710  201711  201712
0  10711725  0.0058     NaN     NaN     NaN     NaN     NaN
1  10711726  0.0073     NaN     NaN     NaN     NaN     NaN
2  10711727  0.0174     NaN     NaN     NaN     NaN     NaN
3  10711728  0.0091     NaN     NaN     NaN     NaN     NaN
4  10711729  0.0078     NaN     NaN     NaN     NaN     NaN

In [8]:
from collections import Counter

In [10]:
c = Counter([0.2,0.1])
c

Counter({0.1: 1, 0.2: 1})

In [11]:
c.most_common(1)

[(0.1, 1)]

In [12]:
c.most_common(1)[0][0]

0.1